<html>
<body>
<h1>Simulateur : Stratégie de trading et de hedging</h1>
<hr>
Stratégie Call :<br>
Dans la monnaie : action > prix d'exercice => prime >> 0<br>
Hors de la monnaie : action < prix d'exercice => prime > 0<br>
Stratégie Put :<br>
Hors de la monnaie : action > prix d'exercice => prime > 0<br>
Dans la monnaie : action < prix d'exercice => prime >> 0<br>
<hr>
<a href="/simu">Accéder au simulateur</a>
<br>
<a href="/opt">Rechercher des options</a>
<br>
<a href="/obli">Simuler des obligations</a>
<br>
<a href="/db">Récupérer des résultats</a>
</body>
</html>
